
<h1>Register</h1>
<%= form_for(@user) do |f| %>

<%=f.text_field :user_name, placeholder: 'Choose a username', class: 'form_control'%>
<%=f.text_field :email, placeholder: 'Enter your email', class: 'form_control'%>

<%=f.text_field :password, placeholder: 'Pick a password', class: 'form_control'%>

<%=f.submit%>
<% end %>
