<!DOCTYPE html>
<html>
  <head>
    <title>Yogi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material\Icons" rel="stylesheet">
  </head>

  <body>
    <nav>
    <div class="nav-wrapper purple lighten-2">
      <a href="#" class="brand-logo center">Yogi!</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">

      <ul class="tabs tabs-transparent">
      <li class="tab"><%= link_to "Home", root_path %> target="_self">Home</a></li>
      <li class="tab"><%= link_to "My Profile", current_user %> target="_self">Home</a></li>
     <li class="tab"><%= link_to "Yoga Poses", yoga_poses_url %> target="-self">Yoga Poses</a></li>
     <li class="tab"><%= link_to "Log out", "/sessions/:id", method: "delete" %> target="_self">Log_out</a></li>
     </ul>
<!-- <li class="tab"><%= link_to "My Routines", routines_url(current_user) %> target="_self">My Routines</a></li> -->
        <!-- <li><a class="btn waves-effect waves-light cyan darken-1"> Home </a></li>-->

      </ul>
    </div>
  </nav>


    <main>
    <div class="container"> <!-- newly added code -->
    <%= yield %>
    </div>                   <!-- newly added code -->
  </main>
  </body>
</html>
