<!DOCTYPE html>
<html>
  <head>
    <title>Yogi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material\Icons" rel="stylesheet">
  </head>

  <body>
    <nav>
    <div class="nav-wrapper purple lighten-2">
      <a href="#" class="brand-logo center">Yogi!</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a class="btn waves-effect waves-light cyan darken-2"> Home </a></li>
        <li><a href="/yoga_poses.html">Yoga Poses</a></li>
        <!-- <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li> -->
      </ul>
    </div>
  </nav>


    <main>
    <div class="container"> <!-- newly added code -->
    <%= yield %>
    </div>                   <!-- newly added code -->
  </main>
  </body>
</html>
