
<h2>Yoga Poses</h2>

<h3> Most liked poses</h3>

<ul>
<% @yogaTop.each do |top| %>
<li>
 	<%= link_to top.name, yoga_pose_path(top) %>
 </li>
 <% end %>
</ul>

</br>
<%= link_to "Add your favorite yoga pose to the database", new_yoga_pose_url(@yoga_pose) %>
</br>
</br>
<h5> Search Yoga Poses by Body Area</h5>
<%= form_tag(yoga_poses_path, method: :get) do %>`
<%= collection_select :body_area, :id, @bodies, :id, :name, selected: @body.id %>
<%#= text_field_tag(:search, params[:search]) %>
<%# //another idea is to use select vs collection_select
can use collection_select vs f.collection_select with simple form select("search", "id", @bodies.all.map(&:name)) %>
<%= submit_tag("Search Options") %>
<% end %>



</br>
</br>


<h4> List of all Yoga Poses</h4>
<ul>
<% @yoga_poses.each do |pose| %>
<li>
<%= link_to pose.name, yoga_pose_path(pose) %>
</li>
<% end %>

</ul>
